name: CI

on:
  push:
    branches:
      - master
  pull_request:

jobs:
    unix-test:
        runs-on: ubuntu-latest
        strategy:
            matrix:
                emacs-version:
                    - 27.2
                    - snapshot

        steps:
            - uses: actions/checkout@v2

            - uses: actions/setup-python@v2
              with:
                  python-version: "3.6"
                  architecture: "x64"

            - uses: purcell/setup-emacs@master
              with:
                  version: ${{ matrix.emacs-version }}

            - uses: cask/setup-cask@master
              with:
                  version: 0.8.4

            - name: Run tests
              run:
                make test
